﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form method="post" action="/Home/AfterCreate">
        <h1>Add Employe Details:</h1>
        Enter Name: <input type="text" name="PersonName" value="" />  <br />
        Enter Age: <input type="number" name="Age" value="" />  <br />
        Enter Address: <input type="text" name="Address" value="" />  <br />
        Enter Contact Number: <input type="text" name="ContactNumber" value="" />  <br />
        Enter Status: <input type="text" name="Status" value="" />  <br />
        Enter Role: <input type="text" name="Role" value="" />  <br />

        <input type="submit" value="Add Applicant" />
    </form>
</body>
</html>
