﻿


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>

<body>
    <a href="/Home/Create">Add New Applicant</a>
    <hr />
    <table border="2">
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.RationNo </td>
                <td>@emp.PersonName </td>
                <td>@emp.Age  </td>
                <td>@emp.Address  </td>
                <td>@emp.ContactNumber  </td>
                <td>@emp.Status  </td>
                <td>@emp.Role  </td>
                <td>
                    <a href="/Home/Change/@emp.PersonName">Change</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
