﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
</head>
<body>
    <div>
        <form method="post" action="/Login/AfterSignin">
            <table border="1" cellpadding="1" align="center">
                <tr>
                    <td>
                        Name <input type="text" name="PersonName" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Role <input type="text" name="Role" value="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="btnLogin" value="Sign In" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.Message
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
